.view-customer-container {
  max-width: 800px; /* Increased container width */
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.view-customer-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.dropdown-container {
  text-align: center;
  margin-bottom: 20px;
}

.dropdown {
  padding: 10px;
  width: 100%; /* Increased width to 100% */
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.customer-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.icon {
  margin-right: 10px;
  color: #666;
}

.rounded-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 16px;
}

.rounded-input:read-only {
  background-color: #f0f0f0;
}

.delete-button {
  background-color: #d9534f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.delete-button:hover {
  background-color: #c9302c;
}


@media (max-width: 600px) {
  .view-customer-container {
    padding: 10px;
    margin-top: 30%;
    margin-left: -10%;
  }

  .rounded-input {
    padding: 8px;
  }

  .delete-button {
    font-size: 14px;
    padding: 10px;
  }
}
